<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Placeholder welcome page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptate fugit natus iure! Sint fugit nihil
        error eius laborum ipsum id cupiditate, totam deserunt eum blanditiis sunt nam sed dignissimos.
        Quod obcaecati facilis ab aspernatur aliquam totam non, distinctio doloremque vel? Explicabo impedit quibusdam
        suscipit omnis maxime autem ipsa accusantium porro? Optio nostrum iste similique dignissimos quidem
        exercitationem, omnis assumenda.
        Reiciendis, officia. Iusto tempore porro quo in impedit fugiat doloremque, suscipit dolor culpa temporibus,
        perferendis laborum natus adipisci tenetur dolorem doloribus ratione! Delectus repudiandae maxime mollitia
        obcaecati magnam a ratione!</p>

    <form action="/campgrounds" method="GET">
        <button>View Campgrounds</button>
    </form>
    <form action="/campgrounds/new" method="GET">
        <button>Create new campground</button>
    </form>
</body>

</html>