<% layout('layouts/boilerplate.ejs') %>

    <form action="/campgrounds" method="POST">
        <div>
            <label for="titleInp">Title</label>
            <input type="text" name="campground[title]" id="titleInp">
        </div>
        <div>
            <label for="locationInp">Location</label>
            <input type="text" name="campground[location]" id="locationInp">
        </div>
        <button>Create Campground</button>
    </form>
    <a href="/campgrounds">Cancel</a>