<% layout("layouts/boilerplate.ejs") %>

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">

            <form action="/campgrounds" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>

                <!-- title -->
                <div class="mb-3">
                    <label class="form-label" for="titleInp">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="titleInp" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>

                <!-- location -->
                <div class="mb-3">
                    <label class="form-label" for="locationInp">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="locationInp" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>

                <!-- image  -->
                <!-- <div class="mb-3">
                    <label class="form-label" for="imageInp">Image Url</label>
                    <input class="form-control" type="text" name="campground[image]" id="imageInp" required>
                    <div class="valid-feedback">Looks good!</div>
                </div> -->
                <div class="mb-3">
                <input type="file" name="image" id="" multiple>
                </div>

                <!-- description -->
                <div class="mb-3">
                    <label class="form-label" for="descriptionInp">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="descriptionInp"
                        required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>

                <!-- campground -->
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]"
                            required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Create Campground</button>
                </div>
            </form>
            <a href="/campgrounds">Cancel</a>

        </div>

    </div>